<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InitiatorShowMessagesReceived" value="true"/>
		<add key="InitiatorShowMessagesSent" value="false"/>
		<add key="AcceptorShowMessagesReceived" value="true"/>
		<add key="AcceptorShowMessagesSent" value="true"/>
		<add key="AcceptorIntervalMilis" value="2000"/>
		
		<add key="AcceptorMacroExecutionReportNew" value="true"/>
		<add key="AcceptorMacroExecutionReportFilled" value="true"/>
		<add key="AcceptorMacroExecutionReportPartiallyFilledUnique" value="false"/>
		<add key="AcceptorMacroExecutionReportPartiallyFilledScheduled" value="false"/>
		<add key="AcceptorMacroExecutionReportReplaced" value="false"/>
		<add key="AcceptorMacroExecutionReportReplaceReject" value="false"/>
		<add key="AcceptorMacroExecutionReportCanceled" value="false"/>
		<add key="AcceptorMacroExecutionReportCancelReject" value="false"/>
	</appSettings>
</configuration>